* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #dbc4b0;
    color: rgb(10, 9, 9);
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #container {
    display: flex;
    flex-wrap: wrap;
    width: 464px;
    height: 464px;
    border: 2px solid #333;
  }
  
  .square {
    background-color: white;
    border: 1px solid #a7988e; 
  }
  